button {
  color: #005891;
  font-size: .9375em;
  font-weight: bold;
  line-height: 1.2em;
  display: table-cell;
  vertical-align: middle;
  background-color: white;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px;
  transition: .3s;
  padding: 0 17px;
  text-align: center;
  max-width: 200px;
  height: 50px;
}

p {
  font-family: Arial,sans-serif;
  color: #333;
  font-size: .9375em;
  line-height: 1.6em;
}

ul {
  color: #333;
  font-size: .9375em;
  margin-left: 20px;
}

.table {
  width: 34%;
  float: right;
  margin: 0;
  display: block;
  text-align: left;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tableLine {
  box-sizing: border-box;
    display: inline-block;
    padding: 9px 11px;
    border-top: 1px solid #d4dadc;
    border-bottom: 1px solid #d4dadc;
    background-color: rgba(233,236,237,0.5);
}

ul.table.li:first-child {
  background-color: rgba(233,236,237,0.5);
}

.key {
  color: #333;
    width: 40%;
    font-weight: bold;
}

.val {
  width: 60%;
}

.table2 {
  text-align: left;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}